In [227]:
dataset_id = "ucis_staging"

In [228]:
!bq --location=US mk --dataset {dataset_id}

BigQuery error in mk operation: Dataset 'skilful-wording-288303:ucis_staging'
already exists.

## H-1B Dataset

In [230]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_09 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2009.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r42120c65ddac8a2c_000001759ca31a43_1 ... (1s) Current status: DONE

In [231]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_10 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2010.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r1758cf807fc9e93d_000001759ca49755_1 ... (2s) Current status: DONE

In [232]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_11 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2011.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r785a9692fa498ee_000001759ca4b906_1 ... (2s) Current status: DONE

In [233]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_12 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2012.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r6f9b11063a969434_000001759ca4d920_1 ... (2s) Current status: DONE

In [234]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_13 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2013.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r1e505c42201f5b42_000001759ca4fc1f_1 ... (1s) Current status: DONE

In [235]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_14 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2014.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r1367208926975492_000001759ca51c27_1 ... (1s) Current status: DONE

In [236]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_15 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2015.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r65ff22ac74350662_000001759ca54ee6_1 ... (1s) Current status: DONE

In [237]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_16 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2016.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r6f028f2bda835922_000001759ca57188_1 ... (2s) Current status: DONE

In [238]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_17 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2017.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r1dc7ae892ef2a0a_000001759ca59375_1 ... (1s) Current status: DONE

In [239]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_18 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2018.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r5fd4545d59e50d28_000001759ca5adb1_1 ... (1s) Current status: DONE

In [240]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id}.H1_19 \
'gs://h_1b/h_1b_dataset/h1b_datahubexport-2019.csv' \
fiscal_year:INTEGER,employer:STRING,initial_approval:INTEGER,initial_denials:INTEGER,continuing_approval:INTEGER,continuing_denials:INTEGER,naics:STRING,tax_id:STRING,state:STRING,city:STRING,zip_code:STRING

Waiting on bqjob_r3455d7f5c65dbd5_000001759ca5c8d8_1 ... (2s) Current status: DONE

## OESM_STAGING

### OESM_national

In [7]:
dataset_id2 = "oesm_staging"
!bq --location=US mk --dataset {dataset_id2}

BigQuery error in mk operation: Dataset 'skilful-wording-288303:oesm_staging'
already exists.

In [126]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_09 \
'gs://h_1b/oesm_national/national_M2009_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r37cb653906fe1104_000001759c3457fe_1 ... (0s) Current status: DONE

In [127]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_10 \
'gs://h_1b/oesm_national/national_M2010_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r71202e8e6c0ef63a_000001759c346485_1 ... (0s) Current status: DONE

In [128]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_11 \
'gs://h_1b/oesm_national/national_M2011_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r7269a5da8d428e1e_000001759c347184_1 ... (0s) Current status: DONE

In [129]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_12 \
'gs://h_1b/oesm_national/national_M2012_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r787d2ebe45f0863a_000001759c347e36_1 ... (1s) Current status: DONE

In [130]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_13 \
'gs://h_1b/oesm_national/national_M2013_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r52c643883aab7c8e_000001759c348f8d_1 ... (1s) Current status: DONE

In [131]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_14 \
'gs://h_1b/oesm_national/national_M2014_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r6a3e5714539224e2_000001759c34a191_1 ... (0s) Current status: DONE

In [132]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_15 \
'gs://h_1b/oesm_national/national_M2015_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r4f9f2f1c6b26c8a1_000001759c34ae68_1 ... (0s) Current status: DONE

In [133]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_16 \
'gs://h_1b/oesm_national/national_M2016_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r77b1c2d935755f80_000001759c34bc05_1 ... (0s) Current status: DONE

In [134]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_17 \
'gs://h_1b/oesm_national/national_M2017_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r22acaa659137f361_000001759c34c86e_1 ... (0s) Current status: DONE

In [135]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_18 \
'gs://h_1b/oesm_national/national_M2018_dl.csv' \
occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r5dd079621a794_000001759c34d52e_1 ... (0s) Current status: DONE

In [138]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_national_19 \
'gs://h_1b/oesm_national/national_M2019_dl.csv' \
area:INTEGER,area_title:STRING,area_type:INTEGER,naics:INTEGER,naics_title:STRING,i_group:STRING,own_code:INTEGER,occ_code:STRING,occ_title:STRING,o_group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,jobs_1000:INTEGER,loc_quotient:FLOAT,pct_total:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r27fb66ead21a7a5e_000001759c374ecd_1 ... (1s) Current status: DONE

### OESM_OWNER

In [139]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_09 \
'gs://h_1b/oesm_owner/n_owner_M2009_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r3cf9eba4e1bda3c4_000001759c3a539f_1 ... (0s) Current status: DONE

In [140]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_10 \
'gs://h_1b/oesm_owner/n_owner_M2010_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r6cf786afee5282ef_000001759c3a8cf8_1 ... (1s) Current status: DONE

In [141]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_11 \
'gs://h_1b/oesm_owner/n_owner_M2011_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r140518dc95bf41cf_000001759c3ab3b3_1 ... (0s) Current status: DONE

In [142]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_12 \
'gs://h_1b/oesm_owner/n_owner_M2012_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r626ac45bccb2c7ad_000001759c3ad5ec_1 ... (0s) Current status: DONE

In [143]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_13 \
'gs://h_1b/oesm_owner/n_owner_M2013_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r41c83980afdcb9b4_000001759c3af9f2_1 ... (0s) Current status: DONE

In [144]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_14 \
'gs://h_1b/oesm_owner/n_owner_M2014_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r46b86482f5e4e13f_000001759c3b20ec_1 ... (0s) Current status: DONE

In [145]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_15 \
'gs://h_1b/oesm_owner/n_owner_M2015_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r650ba748aee6901b_000001759c3b4096_1 ... (0s) Current status: DONE

In [146]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_16 \
'gs://h_1b/oesm_owner/n_owner_M2016_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r4111e3fa5322ac3e_000001759c3b695d_1 ... (0s) Current status: DONE

In [147]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_17 \
'gs://h_1b/oesm_owner/n_owner_M2017_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r5097bb587e651f19_000001759c3b8e19_1 ... (0s) Current status: DONE

In [148]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_18 \
'gs://h_1b/oesm_owner/n_owner_M2018_dl.csv' \
ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r1f11f2c0d41e422c_000001759c3bae7f_1 ... (1s) Current status: DONE

In [151]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_owner_19 \
'gs://h_1b/oesm_owner/n_owner_M2019_dl.csv' \
area:INTEGER,area_title:STRING,area_type:INTEGER,naics:INTEGER,naics_title:STRING,i_group:STRING,own_code:INTEGER,occ_code:STRING,occ_title:STRING,o_group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,jobs_1000:INTEGER,loc_quotient:FLOAT,pct_total:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r1fd60c4f3c95f453_000001759c406858_1 ... (5s) Current status: DONE

### OESM_sector

In [153]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_09 \
'gs://h_1b/oesm_sector/natsector_M2009_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r30bce8ea723c36a5_000001759c43f5a5_1 ... (1s) Current status: DONE

In [154]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_10 \
'gs://h_1b/oesm_sector/natsector_M2010_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r3ad2a9fc05eb9aab_000001759c445ef3_1 ... (1s) Current status: DONE

In [156]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_11 \
'gs://h_1b/oesm_sector/natsector_M2011_dl.csv' \
naics:STRING,naics_title:STRING,ownership:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r622c6d6549a4874b_000001759c452fdc_1 ... (1s) Current status: DONE

In [157]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_12 \
'gs://h_1b/oesm_sector/natsector_M2012_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r4a49ad91a37c79d0_000001759c45cb68_1 ... (1s) Current status: DONE

In [158]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_13 \
'gs://h_1b/oesm_sector/natsector_M2013_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_ra4d035231e05d74_000001759c45fc71_1 ... (2s) Current status: DONE

In [159]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_14 \
'gs://h_1b/oesm_sector/natsector_M2014_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r4b2f54d26bbf4021_000001759c46220e_1 ... (1s) Current status: DONE

In [160]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_15 \
'gs://h_1b/oesm_sector/natsector_M2015_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r15974d52a87c63fb_000001759c46475d_1 ... (1s) Current status: DONE

In [161]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_16 \
'gs://h_1b/oesm_sector/natsector_M2016_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r3c610fde271798b6_000001759c467005_1 ... (1s) Current status: DONE

In [162]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_17 \
'gs://h_1b/oesm_sector/natsector_M2017_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r1e1edc273d1647e_000001759c469586_1 ... (1s) Current status: DONE

In [163]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_18 \
'gs://h_1b/oesm_sector/natsector_M2018_dl.csv' \
naics:STRING,naics_title:STRING,occ_code:STRING,occ_title:STRING,group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,pct_total:FLOAT,pct_rpt:INTEGER,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r1eb5d33260ee6f32_000001759c46b0e2_1 ... (1s) Current status: DONE

In [165]:
!bq --location=US load --skip_leading_rows=1 --allow_jagged_rows=true --source_format=CSV {dataset_id2}.OESM_sector_19 \
'gs://h_1b/oesm_sector/natsector_M2019_dl.csv' \
area:INTEGER,area_title:STRING,area_type:INTEGER,naics:STRING,naics_title:STRING,i_group:STRING,own_code:INTEGER,occ_code:STRING,occ_title:STRING,o_group:STRING,tot_emp:INTEGER,emp_prse:FLOAT,jobs_1000:INTEGER,loc_quotient:FLOAT,pct_total:FLOAT,h_mean:FLOAT,a_mean:INTEGER,mean_prse:FLOAT,h_pct10:FLOAT,h_pct25:FLOAT,h_median:FLOAT,h_pct75:FLOAT,h_pct90:FLOAT,a_pct10:INTEGER,a_pct25:INTEGER,a_median:INTEGER,a_pct75:INTEGER,a_pct90:INTEGER,annual:BOOLEAN,hourly:BOOLEAN

Waiting on bqjob_r2e87c3014294619c_000001759c47f931_1 ... (1s) Current status: DONE

## Query

### From H-1B dataset

#### 1) Find employer that got approvals for H-1B VISA and find the sum of 2009's and 2019's, order by highest to lowest.
#### We are trying to find which company tends to get highest number of initial approval of H-1B request.

In [335]:
%%bigquery
select h9.employer, (h9.initial_approval + h19.initial_approval) as initial_approval_sum
from ucis_staging.H1_09 as h9
join
ucis_staging.H1_19 as h19 on h9.employer = h19.employer
where (h9.initial_approval + h19.initial_approval) > 50
order by (h9.initial_approval + h19.initial_approval) DESC
limit 10;

                employer  initial_approval_sum
0  MICROSOFT CORPORATION                  3177
1          WIPRO LIMITED                  2680
2          WIPRO LIMITED                  2076
3          WIPRO LIMITED                  2076
4          WIPRO LIMITED                  2076
5          WIPRO LIMITED                  2075
6          WIPRO LIMITED                  2075
7          WIPRO LIMITED                  2075
8          WIPRO LIMITED                  2075
9          WIPRO LIMITED                  2075

#### 2) Find companies that has highest sum of initial denials in two years (2009-2010).

In [289]:
%%bigquery
select distinct h9.employer, h9.initial_denials as denials_09, h10.initial_denials as denials_10
from ucis_staging.H1_09 as h9
join
ucis_staging.H1_10 as h10 on h9.employer = h10.employer
order by (h9.initial_denials + h10.initial_denials) DESC
limit 10;

                            employer  denials_09  denials_10
0   COGNIZANT TECH SOLUTIONS US CORP        3070           1
1   COGNIZANT TECH SOLUTIONS US CORP        3070           0
2                 PATNI AMERICAS INC         264          30
3                 PATNI AMERICAS INC         264           1
4                 PATNI AMERICAS INC         264           0
5       INFOSYS TECHNOLOGIES LIMITED          32         206
6       INFOSYS TECHNOLOGIES LIMITED           1         206
7       INFOSYS TECHNOLOGIES LIMITED           0         206
8  COGNIZANT TECHNOLOGY SOLUTIONS US           0         197
9             JSMN INTERNATIONAL INC         179          13

#### 3) Find companies that are located in MARLBOROUGH city and find their number of continuing approvals in 2015 and 2019.

In [336]:
%%bigquery
select distinct h15.employer, h15.city, h15.continuing_approval as continuing_approval15, h19.continuing_approval as continuing_approval19
from ucis_staging.H1_15 as h15
join 
ucis_staging.H1_19 as h19 on h15.employer = h19.employer
where h15.city = "MARLBOROUGH"
limit 10;

,employer,city,continuing_approval15,continuing_approval19
0,INTERNATIONAL COMPUTERWARE INC,MARLBOROUGH,0,3
1,SUNOVION PHARMACEUTICALS INC,MARLBOROUGH,0,6
2,CURADEL LLC,MARLBOROUGH,0,0
3,QUANTIPHI INC,MARLBOROUGH,0,0
4,QUANTIPHI INC,MARLBOROUGH,0,4
5,VASSIT SERVICES US INC,MARLBOROUGH,2,1
6,BOSTON TECHNOLOGY CORPORATION,MARLBOROUGH,5,2
7,RESOURCESOFT INC,MARLBOROUGH,8,14

#### 4) Count cities that appears more than 10 in both 2009 and 2019 and their continuing_approval more than 100 in 2019.

In [339]:
%%bigquery
select h9.city, count(h9.city) as count09, h19.continuing_approval as continuing_approval19
from ucis_staging.H1_09 as h9
join
ucis_staging.H1_19 as h19 on h9.employer = h19.employer
group by h9.city, h19.continuing_approval 
having count(h9.city) > 10 or h19.continuing_approval > 100
limit 10;

          city  count09  continuing_approval19
0     WESTBORO        3                    133
1  WESTBOROUGH        2                    133
2  WESTBOROUGH       14                      1
3  WESTBOROUGH        1                    147
4  WESTBOROUGH        1                    705
5    WORCESTER        1                    187
6      ANDOVER        2                    539
7   WILMINGTON       12                      1
8       BOSTON        3                    117
9       BOSTON      104                      0

#### 5) Find out companies that have different NAICS number in 2017 and 2018.

In [311]:
%%bigquery
select h17.employer, h17.naics as NAICS17, h18.naics as NAICS18
from ucis_staging.H1_17 as h17
join
ucis_staging.H1_18 as h18 on h17.employer = h18.employer
where h17.naics != h18.naics
limit 10

                         employer NAICS17 NAICS18
0          BJS WHOLESALE CLUB INC      44      45
1            ASPEN TECHNOLOGY INC      54      51
2              COGNEX CORPORATION      33      54
3                      SOPHOS INC      54      51
4                      SOPHOS INC      54      51
5        LIBERTY MUTUAL GROUP INC      99      52
6  MILLENNIUM PHARMACEUTICALS INC      54      32
7            NETSCOUT SYSTEMS INC      51      54
8         DELOITTE CONSULTING LLP      51      54
9         DELOITTE CONSULTING LLP      52      54

## From Occupational Survey datasets

#### 1) Find which NAICS Title has the highest occupational count.

In [347]:
%%bigquery
select sector_11.naics_title, count(nat_11.occ_code) as occ_count
from oesm_staging.OESM_sector_11 as sector_11 
join 
oesm_staging.OESM_national_11 as nat_11 on sector_11.occ_title = nat_11.occ_title
group by sector_11.naics_title
order by occ_count DESC
limit 10;

                                         naics_title  occ_count
0  Federal, State, and Local Government (excludin...        637
1  Administrative and Support and Waste Managemen...        616
2                               Educational Services        599
3   Professional, Scientific, and Technical Services        568
4                                      Manufacturing        552
5  Other Services (except Federal, State, and Loc...        532
6                                    Wholesale Trade        490
7                  Health Care and Social Assistance        489
8            Management of Companies and Enterprises        485
9                                       Retail Trade        425

#### 2) Find Occupation Title, Ownership and National Total Employment where the ownership is Federal, State, and Local government.

In [1]:
%%bigquery
select own18.occ_title, own18.ownership, nat18.tot_emp
from oesm_staging.OESM_owner_18 as own18
join
oesm_staging.OESM_national_18 as nat18 on own18.occ_title = nat18.occ_title
where own18.ownership = "Federal, State, and Local government"
limit 10;

,occ_title,ownership,tot_emp
0,Postmasters and Mail Superintendents,"Federal, State, and Local government",13770
1,Postmasters and Mail Superintendents,"Federal, State, and Local government",13770
2,Postmasters and Mail Superintendents,"Federal, State, and Local government",13770
3,Postmasters and Mail Superintendents,"Federal, State, and Local government",13770
4,Tax Preparers,"Federal, State, and Local government",68090
5,Industrial-Organizational Psychologists,"Federal, State, and Local government",780
6,"Preschool Teachers, Except Special Education","Federal, State, and Local government",424520
7,Fashion Designers,"Federal, State, and Local government",19750
8,Actors,"Federal, State, and Local government",47430
9,Dancers and Choreographers,"Federal, State, and Local government",14810

#### 3) Find Occupational Title, Ownership, national total employment and national hourly wage of occupations like "Actors", "Dancers", "Choreographers", "Craft Artists" in 2013 that have total employment more than 1000.

In [323]:
%%bigquery
select own13.occ_title, own13.ownership, nat13.tot_emp, nat13.h_mean
from oesm_staging.OESM_owner_13 as own13
join
oesm_staging.OESM_national_13 as nat13 on own13.occ_code = nat13.occ_code
where nat13.tot_emp > 1000 and own13.occ_title in ("Actors", "Dancers", "Choreographers", "Craft Artists")
order by nat13.h_mean DESC
limit 20;

         occ_title                             ownership  tot_emp  h_mean
0           Actors                      Local government    63230   41.94
1           Actors  Federal, State, and Local government    63230   41.94
2           Actors                      State government    63230   41.94
3           Actors                               Private    63230   41.94
4   Choreographers                               Private     6300   24.00
5   Choreographers                      Local government     6300   24.00
6   Choreographers  Federal, State, and Local government     6300   24.00
7          Dancers                               Private    11540   20.00
8          Dancers  Federal, State, and Local government    11540   20.00
9    Craft Artists  Federal, State, and Local government     4750   17.60
10   Craft Artists                      Local government     4750   17.60
11   Craft Artists                               Private     4750   17.60

#### 4) Find Group, NAICS Title, national total employment, national Percent relative standard error (PRSE) for the employment estimate and national Annual Mean. We filtered Minor Groups whose NAICS Title is not Agriculture, Forestry, Fishing and Hunting.

In [328]:
%%bigquery
select nat14.group, sec14.naics_title, nat14.tot_emp, nat14.emp_prse, nat14.a_mean
from oesm_staging.OESM_sector_14 as sec14
join
oesm_staging.OESM_national_14 as nat14 on sec14.group = nat14.group
where nat14.group = "minor" and sec14.naics_title != "Agriculture, Forestry, Fishing and Hunting"
limit 10;

,group,naics_title,tot_emp,emp_prse,a_mean
0,minor,"Mining, Quarrying, and Oil and Gas Extraction",560,15.2,36290
1,minor,"Mining, Quarrying, and Oil and Gas Extraction",3692980,0.5,83840
2,minor,"Mining, Quarrying, and Oil and Gas Extraction",160590,1.1,72830
3,minor,"Mining, Quarrying, and Oil and Gas Extraction",531920,0.9,51070
4,minor,"Mining, Quarrying, and Oil and Gas Extraction",1736660,0.5,68870
5,minor,"Mining, Quarrying, and Oil and Gas Extraction",383570,1.2,22870
6,minor,"Mining, Quarrying, and Oil and Gas Extraction",1810560,0.7,31720
7,minor,"Mining, Quarrying, and Oil and Gas Extraction",121470,1.5,29220
8,minor,"Mining, Quarrying, and Oil and Gas Extraction",44470,1.8,35430
9,minor,"Mining, Quarrying, and Oil and Gas Extraction",629670,0.5,127880

#### 5)Find Ownership, Occupational Title, NAICS Title in 2018 where Occupational title is Physicists and the ownership is not "Private", "Federal, State, or Local government".

In [2]:
%%bigquery
select distinct own18.ownership, own18.occ_title, sec18.naics_title
from oesm_staging.OESM_owner_18 as own18
join 
oesm_staging.OESM_sector_18 as sec18 on own18.group = sec18.group
where own18.occ_title = "Physicists" and own18.ownership not in ("Private", "Federal, State, and Local government")
limit 10;

,ownership,occ_title,naics_title
0,Local government,Physicists,"Agriculture, Forestry, Fishing and Hunting"
1,Federal government,Physicists,"Agriculture, Forestry, Fishing and Hunting"
2,State government,Physicists,"Agriculture, Forestry, Fishing and Hunting"
3,Local government,Physicists,"Mining, Quarrying, and Oil and Gas Extraction"
4,Federal government,Physicists,"Mining, Quarrying, and Oil and Gas Extraction"
5,State government,Physicists,"Mining, Quarrying, and Oil and Gas Extraction"
6,Local government,Physicists,Utilities
7,Federal government,Physicists,Utilities
8,State government,Physicists,Utilities
9,Local government,Physicists,Construction